/ansible.cfg
/common/files/*
/hosts
#/playbooks/
/roles/*
/playbooks/add_user_centos.yml
/roles/*
/playbooks/add_user.yml
/playbooks/install-mc.yml
/roles/*
/playbooks/install-test.yml
#install-zabbix.yml
#redis_test.yml
/playbooks/script_apache.yml
/playbooks/script.yml

~                                                                               
~                    
